<div class="left-sidebar">
	<div class="brands_products">
		<!--category-productsr-->
		<h2>Danh mục</h2>
		<vc:categories></vc:categories>
		
	</div><!--/category-products-->
	@* Combo *@
	<div class="brands_products">
		<!--brands_products-->
		<h2>Combo</h2>
		<vc:combos></vc:combos>
	</div>

	<div class="brands_products">
		<!--brands_products-->
		<h2>Thương hiệu</h2>
		<vc:brands></vc:brands>
	</div><!--/brands_products-->
</div>