@model CategoryModel

@{
    ViewData["title"] = "Sửa danh mục";
}
@{
    var errorDetails = TempData["errorDetails"] as List<string>;
}
@* 
@if (errorDetails != null && errorDetails.Any())
{
    <div class="alert alert-danger">
        <strong>Có lỗi trong dữ liệu:</strong>
        <ul>
            @foreach (var error in errorDetails)
            {
                <li>@error</li>
            }
        </ul>
    </div>
} *@

<h1>Sửa danh mục</h1>

<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label>Tên danh mục</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Mô tả danh mục</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Trạng thái</label>
            <select asp-for="Status" class="form-control">
                <option value="1">Hiển thị</option>
                <option value="0">Ẩn</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Sửa</button>
        </div>
    </form>

    <a asp-action="Index">Quay lại trang Danh mục</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

