<footer id="footer" class="bg-dark text-white py-4">
	<div class="container text-center">
		<hr class="bg-light">
		<p class="mb-0"><strong>© 2024 Phùng Xuân Dương -- PS38124.</strong></p>
	</div>
</footer>