<div class="left-sidebar">
	<div class="brands_products">
		<!--category-productsr-->
		<h2>Category</h2>
		<vc:categories></vc:categories>
		
	</div><!--/category-products-->

	<div class="brands_products">
		<!--brands_products-->
		<h2>Brands</h2>
		<vc:brands></vc:brands>
	</div><!--/brands_products-->

</div>