@model IEnumerable<CategoryModel>

@foreach (var item in Model)
{
	<div class="brands-name border border-dark p-3 rounded">
		<ul class="nav nav-pills nav-stacked">
			<li><a asp-controller="Category" asp-action="Index" asp-route-Slug="@item.Slug">@item.Name</a></li>
		</ul>
	</div>
}
